<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body style="background-color: darkgrey;">
    <center>
        <h1>Welcome to Store</h1>
    </center>
    <hr>
    <center>
    <table border="2">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Model</th>
            <th>RAM</th>
            <th>Image</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.product }}</td>
            <td>{{i.price}}</td>
           <td><img src="{{ i.image.url }}" height="200" width="200" ></td>
           <td>{{i.model}}</td>
           <td>{{i.ram}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>

</body>

</html>